* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

:root {
    --headings: var(--headings);
    --p-text: white;
    --border: 5px solid white;
}

body {
    background: linear-gradient(rgb(52, 102, 174) 0%, rgb(83, 144, 241) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Code', monospace;

}

main {
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin: 20px;
    border: var(--border);
    color: white;
    padding-block: 10px;
    background-color: black;
}

h2 {
    font-size: 22px;
    text-align: center;
    color: white;
}

header p {
    font-size: 20px;
    margin-inline: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

hr {
    width: 70%;
    border: 2px solid black;
}

.card {
    max-width: 300px;
    height: 350px;
    flex-shrink: 1 1 auto;
    border: 5px dashed white;
    box-shadow: 0px 0px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

.card p {
    color: var(--p-text);
    font-size: 16px;
    width: 95%;
    text-align: center;
    margin: 35px auto;
    height: 20%;
}

.card:hover {
    border-radius: 8px;
    /* transition: all 3s ease-in-out; */
    box-shadow: inset 0px 0px 8px#c2cfd8, 0 0 15px#c2cfd8;
}

h3 {
    font-size: 20px;
    color: white;
    border: var(--border);
    padding: 5px;
    text-align: center;
    margin: -25px auto;
    width: 85%;
    background-color: black;
}

.container {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    width: 270px;
    height: 200px;
    user-select: all;
}

.code {
    margin: 15px;
    font-size: 73%;
}

footer {
    text-align: center;
    margin: 25px auto;
}

footer p {
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 992px) {
    main {
        max-width: 768px;
    }
}

@media only screen and (max-width: 768px) {
    main {
        max-width: 375px;
    }
}
